 /* Hero image*/
.container-fluid {
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
a {
 color: #fff !important;
}
#main-bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
ul {
	list-style-type: none;
	padding: 0;
}
/*header section*/
.header-section {
	padding-top: 25px;
	margin-bottom: 100px;
}


#top-menu {
	float: right;
	justify-content: center !important;
	padding-top: 15px;;
}
#top-menu li a:hover {
	text-decoration: underline;
}

/*logo*/
#logo {
	width: 100px;
	height: 100px;
	position: relative;
	top: -25px;
}

.company-name {
	margin-top: 38px;
	margin: 0 0 0 10px;
	font-size: 36px;
}

.company-name:hover {
	text-decoration: none;
}


#slogan {
	text-align: center;
	color: #fff;
	margin-bottom: 405px;
}

.social-icons {
	float: left;
	display: flex;
}

.social-icons img {
	width: 50px;
	height: 50px;
	margin-right: 10px;;
}

.social-icons li {
	float: left;
	margin-right: 10px;;
}

.copyright {
	color: #fff;
	text-align: right;
}

@media only screen and (max-width: 990px) {
	.copyright {
		text-align: center;
	}
	.social-icons {
		justify-content: center;
		width: 100%;
	}
  }

  @media only screen and (max-width: 425px) {
	.company-name {
		font-size: 26px;
	}
  }
